platform: linux
image_resource:
  type: docker-image
  source:
    repository: pcfkubo/kubo-ci
    tag: stable
params:
  ROUTING_CF_CLIENT_SECRET:
run:
  path: git-kubo-deployment/ci/scripts/deploy-k8s-workload.sh

inputs:
  - name: git-kubo-deployment
