name: ((deployment_name))

features:
  use_dns_addresses: true

releases:
- name: kubo-etcd
  version: 5
  url: https://github.com/pivotal-cf-experimental/kubo-etcd/releases/download/v5/kubo-etcd.5.tgz
  sha1: 23ed1754048ff758ed8fdf75ee1369ca59435181
- name: kubo
  version: latest
- name: docker
  version: 30.1.4
  url: https://github.com/cloudfoundry-community/docker-boshrelease/releases/download/v30.1.4/docker-30.1.4.tgz
  sha1: f79a70452b3ddae52f5ac78dd37ff8d9e6ec19e2
- name: haproxy
  version: 8.4.0
  url: https://github.com/cloudfoundry-incubator/haproxy-boshrelease/releases/download/v8.4.0/haproxy-8.4.0.tgz
  sha1: a3a911f0cf8e672b27c6cb16318fd8c7c77f5bde

stemcells:
- alias: trusty
  os: ubuntu-trusty
  version: "3468.5"

instance_groups:
- name: master
  instances: 1
  networks:
  - name: &network-name ((deployments_network))
  azs: [z1]
  jobs:
  - name: kubo-dns-aliases
    release: kubo
  - name: cloud-provider
    release: kubo
    properties: {}
    provides:
      cloud-provider: {as: master}
  - name: flanneld
    release: kubo
  - name: kubernetes-api
    release: kubo
    properties:
      admin-username: admin
      admin-password: ((kubo-admin-password))
      kubelet-password: ((kubelet-password))
      kube-proxy-password: ((kube-proxy-password))
      kube-scheduler-password: ((kube-scheduler-password))
      route-sync-password: ((route-sync-password))
      backend_port: 8443 # Bosh links hack
      port: ((kubernetes_master_port))
      authorization-mode: &authorization_mode ((authorization_mode))
      tls:
        kubernetes: ((tls-kubernetes))
  - name: kubernetes-controller-manager
    release: kubo
    properties:
      tls:
        kubernetes: ((tls-kubernetes))
  - name: kubernetes-scheduler
    release: kubo
    properties:
      kube-scheduler-password: ((kube-scheduler-password))
  - name: kubernetes-system-specs
    release: kubo
    properties:
      kubelet-password: ((kubelet-password))
      admin-username: admin
      admin-password: ((kubo-admin-password))
      authorization-mode: *authorization_mode
      tls:
        kubernetes: ((tls-kubernetes))
    consumes:
      cloud-provider: {from: master}
  - name: etcd
    release: kubo-etcd
    properties:
      etcd:
        require_ssl: false
        peer_require_ssl: false
        delete_data_dir_on_stop: false
  stemcell: trusty
  vm_type: master
  persistent_disk_type: 5120

- name: worker
  instances: ((worker_count))
  networks:
  - name: *network-name
  azs: [z1]
  jobs:
  - name: kubo-dns-aliases
    release: kubo
  - name: flanneld
    release: kubo
  - name: docker
    release: docker
    properties:
      bip: 172.17.0.1/24
      flannel: true
      iptables: false
      ip_masq: false
      log_level: error
      store_dir: /var/vcap/data
      storage_driver: overlay
      default_ulimits: [ "nofile=65536" ]
      tls_cacert: ((tls-docker.ca))
      tls_cert:  ((tls-docker.certificate))
      tls_key: ((tls-docker.private_key))
      env: {}
  - name: cloud-provider
    release: kubo
    properties: {}
  - name: kubelet
    release: kubo
    properties:
      kubelet-password: ((kubelet-password))
      tls:
        kubernetes: ((tls-kubernetes))
        kubelet: ((tls-kubelet))
  - name: kubernetes-proxy
    release: kubo
    properties:
      tls:
        kubernetes: ((tls-kubernetes))
      kube-proxy-password: ((kube-proxy-password))
  stemcell: trusty
  vm_type: worker
  persistent_disk_type: 10240

update:
  canaries: 1
  max_in_flight: 1
  serial: true
  canary_watch_time: 10000-300000
  update_watch_time: 10000-300000

variables:
- name: kubo-admin-password
  type: password
- name: kubelet-password
  type: password
- name: kube-proxy-password
  type: password
- name: kube-scheduler-password
  type: password
- name: route-sync-password
  type: password
- name: kubo_ca
  type: certificate
  options:
    is_ca: true
    common_name: ca
- name: tls-kubelet
  type: certificate
  options:
    ca: kubo_ca
    common_name: kubelet.kubo.internal
    alternative_names: []
    organization: "system:nodes"
- name: tls-kubernetes
  type: certificate
  options:
    ca: kubo_ca
    organization: "system:masters"
    common_name: ((kubernetes_master_host))
    alternative_names:
    - ((kubernetes_master_host))
    - 10.100.200.1
    - kubernetes
    - kubernetes.default
    - kubernetes.default.svc
    - kubernetes.default.svc.cluster.local
    - master.kubo
- name: tls-docker
  type: certificate
  options:
    ca: kubo_ca
    common_name: docker.kubo.internal
