---
resource_types:
- name: slack-notification
  type: docker-image
  source:
    repository: cfcommunity/slack-notification-resource
    tag: latest
- name: pull-request
  type: docker-image
  source:
    repository: jtarchie/pr

resources:
- name: git-kubo-deployment
  type: pull-request
  source:
    repo: pivotal-cf-experimental/kubo-deployment
    uri: git@github.com:pivotal-cf-experimental/kubo-deployment
    base: master
    private_key: {{git-ssh-key}}
    access_token: {{github-token-key}}

- name: kubo-lock
  type: pool
  source:
    uri: git@github.com:pivotal-cf-experimental/kubo-locks.git
    branch: master
    private_key: {{git-ssh-key}}
    pool: kubo-deployment

- name: s3-bosh-state
  type: s3
  source:
    access_key_id: {{aws-access-key-id}}
    secret_access_key: {{aws-secret-access-key}}
    bucket: kubo-pipeline-store
    endpoint: s3-eu-west-1.amazonaws.com
    region_name: eu-west-1
    versioned_file: bosh/state.json

- name: s3-bosh-creds
  type: s3
  source:
    access_key_id: {{aws-access-key-id}}
    secret_access_key: {{aws-secret-access-key}}
    bucket: kubo-pipeline-store
    endpoint: s3-eu-west-1.amazonaws.com
    region_name: eu-west-1
    versioned_file: bosh/creds.yml

- name: s3-service-creds
  type: s3
  source:
    access_key_id: {{aws-access-key-id}}
    secret_access_key: {{aws-secret-access-key}}
    bucket: kubo-pipeline-store
    endpoint: s3-eu-west-1.amazonaws.com
    region_name: eu-west-1
    versioned_file: bosh/ci-service-creds.yml

- name: s3-kubo-release-tarball
  type: s3
  source:
    access_key_id: {{aws-access-key-id}}
    secret_access_key: {{aws-secret-access-key}}
    bucket: kubo-public
    endpoint: s3.amazonaws.com
    versioned_file: kubo-release-latest.tgz

- name: slack-alert
  type: slack-notification
  source:
    url: {{slack-url}}

jobs:
- name: run-unit-tests
  plan:
  - get: git-kubo-deployment
    version: every
  - task: run-deployment-unit-tests
    file: git-kubo-deployment/ci/tasks/run-deployment-unit-tests.yml
    on_failure:
      put: slack-alert
      params:
        silent: true
        icon_emoji: ":thumbsdown:"
        text: |
          Kubo deployment unit tests failed:
          https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME

- name: claim-lock
  plan:
  - aggregate:
    - get: git-kubo-deployment
      passed: ['run-unit-tests' ]
      version: every
  - put: kubo-lock
    params: { acquire: true }

- name: set-pr-pending
  plan:
  - get: git-kubo-deployment
    version: every
    trigger: true
    passed: ['claim-lock']
  - put: git-kubo-deployment
    params:
      path: git-kubo-deployment
      status: pending

- name: install-bosh
  plan:
  - aggregate:
    - get: git-kubo-deployment
      passed: [ 'claim-lock' ]
    - get: kubo-lock
      version: every
      trigger: true
      passed: [ 'claim-lock' ]
  - task: install
    file: git-kubo-deployment/ci/tasks/install-bosh.yml
    params:
      GCP_SERVICE_ACCOUNT: {{gcp-service-account}}
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure
  - aggregate:
    - put: s3-bosh-creds
      params:
        file: bosh-creds/creds.yml
    - put: s3-bosh-state
      params:
        file: bosh-state/state.json

- name: deploy-k8s
  plan:
  - aggregate:
    - get: kubo-lock
      version: every
      trigger: true
      passed: [ 'install-bosh' ]
    - get: git-kubo-deployment
      passed: [ 'install-bosh' ]
    - get: s3-kubo-release-tarball
    - get: s3-bosh-state
      passed: [ 'install-bosh' ]
    - get: s3-bosh-creds
      passed: [ 'install-bosh' ]
  - task: deploy
    file: git-kubo-deployment/ci/tasks/deploy-k8s-instance.yml
    params:
      ROUTING_CF_CLIENT_SECRET: {{routing_cf_client_secret}}
      ROUTING_CF_NATS_PASSWORD: {{routing_cf_nats_password}}
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure

  - aggregate:
    - put: s3-service-creds
      params:
        file: service-creds/ci-service-creds.yml

- name: deploy-workload
  plan:
  - aggregate:
    - get: kubo-lock
      version: every
      trigger: true
      passed: [ 'deploy-k8s' ]
    - get: git-kubo-deployment
      passed: [ 'deploy-k8s' ]
    - get: s3-bosh-state
      passed: [ 'deploy-k8s' ]
    - get: s3-bosh-creds
      passed: [ 'deploy-k8s' ]
    - get: s3-service-creds
      passed: [ 'deploy-k8s' ]
  - task: workload
    file: git-kubo-deployment/ci/tasks/deploy-k8s-workload.yml
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure
  - task: pod-to-pod
    file: git-kubo-deployment/ci/tasks/pod-to-pod.yml
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure

- name: destroy-k8s
  plan:
  - aggregate:
    - get: kubo-lock
      version: every
      trigger: true
      passed: [ 'deploy-workload' ]
    - get: git-kubo-deployment
      passed: [ 'deploy-workload' ]
    - get: s3-bosh-state
      passed: [ 'deploy-workload' ]
    - get: s3-bosh-creds
      passed: [ 'deploy-workload' ]
  - task: destroy-k8s
    file: git-kubo-deployment/ci/tasks/destroy-k8s-instance.yml
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure


- name: destroy-bosh
  plan:
  - aggregate:
    - get: git-kubo-deployment
      passed: [ 'destroy-k8s' ]
    - get: kubo-lock
      version: every
      trigger: true
      passed: [ 'destroy-k8s' ]
    - get: s3-bosh-state
      passed: [ 'destroy-k8s' ]
    - get: s3-bosh-creds
      passed: [ 'destroy-k8s' ]
  - task: destroy
    file: git-kubo-deployment/ci/tasks/destroy-bosh.yml
    params:
      GCP_SERVICE_ACCOUNT: {{gcp-service-account}}
    on_failure:
      aggregate:
      - do:
        - task: alert-text
          file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
          params:
            PR_STATUS: failed
        - put: slack-alert
          params:
            silent: true
            icon_emoji: ":animal:"
            text_file: pr-slack-message/message.txt
            text: |
              $TEXT_FILE_CONTENT
              https://p-concourse.kubo.cf-app.com/teams/$BUILD_TEAM_NAME/pipelines/$BUILD_PIPELINE_NAME/jobs/$BUILD_JOB_NAME/builds/$BUILD_NAME
      - put: git-kubo-deployment
        params:
          path: git-kubo-deployment
          status: failure
  - put: kubo-lock
    params: { release: kubo-lock }
  - task: alert-text
    file: git-kubo-deployment/ci/tasks/generate-deployment-pr-messages.yml
    params:
      PR_STATUS: succeeded
  - put: slack-alert
    params:
      silent: true
      icon_emoji: ":bulbasaur:"
      text_file: pr-slack-message/message.txt
  - put: git-kubo-deployment
    params:
      path: git-kubo-deployment
      status: success
