---
- type: replace
  path: /instance_groups/name=master/jobs/name=kube-apiserver/properties/allow_privileged?
  value: true

- type: replace
  path: /instance_groups/name=worker/jobs/name=kubelet/properties/allow_privileged?
  value: true

- type: replace
  path: /instance_groups/name=master/jobs/name=kube-apiserver/properties/security-context-deny?
  value: true
